/* HEADER */
header {
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 55%;
  opacity: 90%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  header div > a > img {
    height: 7rem;
    padding-top: 0.5rem; }
  header nav {
    margin-bottom: 0.7rem; }
    @media (max-width: 650px) {
      header nav {
        display: flex;
        justify-content: center;
        font-size: 0.8rem; } }
  header nav > a {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-right: 2rem; }
    @media (max-width: 620px) {
      header nav > a {
        padding: 1.5px;
        font-size: 0.7rem; } }
    @media (max-width: 768px) {
      header nav > a {
        padding: 1.7px;
        font-size: 0.8rem; } }
  header nav > a:hover {
    background-image: linear-gradient(#d9a7c7, #fffcdc);
    color: #3f3a3f; }

header img:hover {
  animation-name: latido;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; }

/* SECCION INDEX */
.section-index {
  background-image: url("../assets/vidriera-cocos-fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: -3rem; }
  .section-index a > div {
    height: 50rem; }
  .section-index img {
    height: 100%; }
  .section-index .section-index-container {
    position: relative; }
  .section-index .cartel-open {
    position: absolute;
    top: 38.5%;
    left: 45.5%;
    transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 2s ease-in-out forwards infinite;
    animation: swinging 2s ease-in-out forwards infinite; }
    .section-index .cartel-open img {
      height: 6rem; }

/* SECCION TORTAS */
.section-tortas {
  box-shadow: 0 0 10px gray;
  margin: 3rem; }
  .section-tortas h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    text-shadow: #777676 0.1em 0.1em 0.2em; }
  .section-tortas > div {
    display: flex;
    justify-content: center; }
  .section-tortas .carousel {
    width: 35rem; }
    .section-tortas .carousel h2 {
      font-size: 2rem;
      text-shadow: white 0.1em 0.1em 0.2em; }
    .section-tortas .carousel p {
      font-size: 1.3rem; }
  .section-tortas .container-tortas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2%;
    padding-top: 1rem;
    display: flex;
    justify-content: center; }

/* SECCION DELICIAS */
.section-delicias {
  box-shadow: 0 0 10px gray;
  margin-top: 3rem; }
  .section-delicias img {
    height: 25rem;
    box-shadow: 0 0 10px gray; }
  .section-delicias h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    text-shadow: #777676 0.1em 0.1em 0.2em; }

.section-delicias-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto); }

.delicias {
  padding-top: 1rem; }
  .delicias button {
    font-size: 1.4rem; }
    @media (max-width: 992px) {
      .delicias button {
        font-size: 1.2rem; } }
    @media (max-width: 768px) {
      .delicias button {
        font-size: 0.9rem; } }
  @media (min-width: 1200px) {
    .delicias img {
      height: 30rem; } }
  @media (max-width: 992px) {
    .delicias img {
      height: 20rem; } }
  @media (max-width: 768px) {
    .delicias img {
      height: 15rem; } }

/* SECCION DESAYUNOS */
.section-desayunos {
  box-shadow: 0 0 10px gray; }
  .section-desayunos h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    text-shadow: #777676 0.1em 0.1em 0.2em; }
  .section-desayunos img {
    height: 22rem;
    box-shadow: 0 0 10px gray; }

.desayunos {
  /*display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);*/
  padding-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column; }
  .desayunos > div {
    padding-bottom: 4rem; }
  .desayunos .caja-feliz, .desayunos .caja-cumple, .desayunos .caja-michi, .desayunos .caja-loro {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
  .desayunos h2 {
    font-size: 1.8rem;
    padding-bottom: 0.7rem; }
  .desayunos li {
    line-height: 2rem; }

/* SECCION NOSOTROS */
.section-nosotros {
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }
  .section-nosotros h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    text-shadow: #777676 0.1em 0.1em 0.2em; }
  .section-nosotros img {
    height: 32rem;
    box-shadow: 0 0 10px gray; }
  .section-nosotros div {
    font-size: 1rem; }
  .section-nosotros article {
    display: flex;
    flex-direction: column; }
    .section-nosotros article h2 {
      align-self: center;
      text-decoration: underline; }
    .section-nosotros article > div {
      display: flex;
      justify-content: space-evenly; }

/* SECCION CONTACTO */
.section-contacto {
  box-shadow: 0 0 10px gray;
  margin-top: 3rem; }
  .section-contacto h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    text-shadow: #777676 0.1em 0.1em 0.2em; }
  .section-contacto > div {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0rem; }
  .section-contacto iframe {
    box-shadow: 0 0 10px gray; }
    @media (max-width: 1100px) {
      .section-contacto iframe {
        height: 35rem;
        width: 25rem; } }
    @media (max-width: 992px) {
      .section-contacto iframe {
        height: 32rem;
        width: 18rem; } }
    @media (max-width: 768px) {
      .section-contacto iframe {
        display: none; } }
  .section-contacto form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem; }
    @media (max-width: 768px) {
      .section-contacto form {
        align-self: center; } }
  .section-contacto .section-contacto__form {
    font-size: 1.5rem; }
    @media (max-width: 992px) {
      .section-contacto .section-contacto__form {
        font-size: 1.2rem; } }
    @media (max-width: 768px) {
      .section-contacto .section-contacto__form {
        font-size: 1rem; } }
    .section-contacto .section-contacto__form div {
      padding: 0.7rem; }
    .section-contacto .section-contacto__form .section-contacto__form--nombre {
      display: flex;
      flex-direction: column; }
      .section-contacto .section-contacto__form .section-contacto__form--nombre label {
        padding-right: 3.3rem;
        padding-bottom: 0.5rem; }
      .section-contacto .section-contacto__form .section-contacto__form--nombre input {
        width: 22rem;
        height: 2rem;
        font-size: 1rem; }
    .section-contacto .section-contacto__form .section-contacto__form--apellido {
      display: flex;
      flex-direction: column; }
      .section-contacto .section-contacto__form .section-contacto__form--apellido label {
        padding-right: 3.4rem;
        padding-bottom: 0.5rem; }
      .section-contacto .section-contacto__form .section-contacto__form--apellido input {
        width: 22rem;
        height: 2rem;
        font-size: 1rem; }
    .section-contacto .section-contacto__form .section-contacto__form--email {
      display: flex;
      flex-direction: column; }
      .section-contacto .section-contacto__form .section-contacto__form--email label {
        padding-right: 4.5rem;
        padding-bottom: 0.5rem; }
      .section-contacto .section-contacto__form .section-contacto__form--email input {
        width: 22rem;
        height: 2rem;
        font-size: 1rem; }
    .section-contacto .section-contacto__form .section-contacto__form--telefono {
      display: flex;
      flex-direction: column; }
      .section-contacto .section-contacto__form .section-contacto__form--telefono label {
        padding-right: 2.9rem;
        padding-bottom: 0.5rem; }
      .section-contacto .section-contacto__form .section-contacto__form--telefono input {
        width: 22rem;
        height: 2rem;
        font-size: 1rem; }
    .section-contacto .section-contacto__form .section-contacto__form--consulta {
      display: flex;
      flex-direction: column; }
      .section-contacto .section-contacto__form .section-contacto__form--consulta label {
        padding-right: 2.7rem;
        padding-bottom: 0.5rem; }
      .section-contacto .section-contacto__form .section-contacto__form--consulta textarea {
        resize: none;
        font-size: medium;
        border-color: #fffbfb; }
    .section-contacto .section-contacto__form .section-contacto__form--newsletter label {
      padding-right: 5rem; }
    .section-contacto .section-contacto__form .section-contacto__form--borrar-enviar {
      display: flex;
      justify-content: space-evenly; }
    .section-contacto .section-contacto__form button {
      font-size: 1.2rem;
      padding: 0.2rem; }

/* FOOTER */
footer {
  background-color: #d5a8d5;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: 3rem;
  font-size: 1rem;
  max-width: 100%; }
  footer img {
    height: 7rem; }
  footer li a:hover, footer div a:hover {
    color: #f8f7f8; }

.div-Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.ig, .mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .ig img:hover, .mail img:hover {
    transform: scale(1.1);
    -webkit-transition: transform 0.15s ease-in; }
  .ig img, .mail img {
    width: 7rem;
    height: 5.5rem; }

.mail img {
  width: 8rem;
  height: 5rem; }
