header {
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 55%;
  opacity: 90%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  header div > a > img {
    height: 7rem;
    padding-top: 0.5rem; }
  header nav {
    margin-bottom: 0.7rem; }
    @media (max-width: 800px) {
      header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; } }
  header nav > a {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-right: 2rem; }
    @media (max-width: 770px) {
      header nav > a {
        padding: 5px; } }
  header nav > a:hover {
    background-image: linear-gradient(#d9a7c7, #fffcdc);
    color: #3f3a3f; }

@keyframes latido {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.1); }
  40% {
    transform: scale(1); }
  60% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

header img:hover {
  animation-name: latido;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; }

/*
.sectionIndex {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    & div {
        display: flex;
        flex-direction: column;
    }
    & a {
        overflow: hidden;
    }
    & img:hover {
        transform: scale(1.2);
        -webkit-transition: transform 0.2s ease-in;
    }
    & h1 {
        font-size: 1.8rem;
        padding-top: 1rem;
    }
    & img {
        height: 25rem;
    }
} */
.section-index {
  background-image: url("../assets/ideas/vidriera1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  margin-bottom: -6rem; }
  .section-index a > div {
    height: 50rem; }

.sectionTortas h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem; }

.sectionTortas img {
  height: 25rem; }

.sectionDulces img {
  height: 25rem; }

.sectionDulces h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem; }

.sectionDulces > div {
  display: flex;
  justify-content: center; }

.dulces {
  padding: 2rem 3rem 2rem 0rem; }
  .dulces h2 {
    font-size: 1.5rem; }
  @media (max-width: 960px) {
    .dulces img {
      height: 20rem; } }
  @media (max-width: 840px) {
    .dulces img {
      height: 15rem; } }
  @media (max-width: 660px) {
    .dulces img {
      height: 10rem; } }

.sectionDesayunos h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem; }

.sectionDesayunos img {
  height: 22rem; }

.sectionDesayunos img:hover {
  transform: scale(1.2);
  -webkit-transition: transform 0.2s ease-in; }

/*.desayunos {
    display: flex;
    flex-direction: column;
    & >div {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
}*/
.desayunos {
  /*display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);*/
  padding-top: 3rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column; }
  .desayunos > div {
    padding-bottom: 4rem; }
  .desayunos .caja-feliz, .desayunos .caja-cumple, .desayunos .caja-michi, .desayunos .caja-loro {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
  .desayunos h2 {
    font-size: 1.8rem;
    padding-bottom: 0.7rem; }
  .desayunos li {
    line-height: 2rem; }

.sectionContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sectionContacto h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem; }

.seccion-index__form {
  font-size: 1.5rem; }
  .seccion-index__form div {
    padding: 1rem; }
  .seccion-index__form .seccion-index__form--nombre > label {
    padding-right: 3.3rem; }
  .seccion-index__form .seccion-index__form--nombre > input {
    width: 22rem;
    height: 2rem;
    font-size: 1rem; }
  .seccion-index__form .seccion-index__form--apellido > label {
    padding-right: 3.4rem; }
  .seccion-index__form .seccion-index__form--apellido > input {
    width: 22rem;
    height: 2rem;
    font-size: 1rem; }
  .seccion-index__form .seccion-index__form--email > label {
    padding-right: 4.5rem; }
  .seccion-index__form .seccion-index__form--email > input {
    width: 22rem;
    height: 2rem;
    font-size: 1rem; }
  .seccion-index__form .seccion-index__form--telefono > label {
    padding-right: 2.9rem; }
  .seccion-index__form .seccion-index__form--telefono > input {
    width: 22rem;
    height: 2rem;
    font-size: 1rem; }
  .seccion-index__form .seccion-index__form--newsletter > label {
    padding-right: 0.2rem; }
  .seccion-index__form .seccion-index__form--consulta > label {
    padding-right: 2.7rem; }
  .seccion-index__form .seccion-index__form--consulta > textarea {
    resize: none;
    font-size: medium;
    border-color: white; }
  .seccion-index__form .seccion-index__form--borrar-enviar {
    display: flex;
    justify-content: space-evenly; }
  .seccion-index__form button {
    font-size: 1.2rem;
    padding: 0.2rem; }

footer {
  background-color: #d5a8d5;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: 3rem;
  font-size: 1rem;
  max-width: 100%; }
  footer img {
    height: 7rem; }
  footer li a:hover, footer div a:hover {
    color: #f8f7f8; }
  footer .divFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }

.ig, .mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .ig img:hover, .mail img:hover {
    transform: scale(1.1);
    -webkit-transition: transform 0.15s ease-in; }
  .ig img, .mail img {
    width: 7rem;
    height: 5.5rem; }

.mail img {
  width: 8rem;
  height: 5rem; }
