header {
    background-image: url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 55%;
    opacity: 90%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & div>a>img {
    height: 7rem;
    opacity: 100%;
    padding-top: 0.5rem;
    }
    & nav {
        margin-bottom: 0.7rem;
        @media (max-width: 800px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    & nav>a {
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
        padding: 0.2rem 1rem 0.2rem 1rem;
        margin-right: 2rem;
        @media (max-width:770px) {
            padding: 5px;
        }
    }
    & nav > a:hover {
        background-image: linear-gradient(#d9a7c7, #fffcdc);
        color: rgb(63, 58, 63);
    }
}

@keyframes latido {
    0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.1);
      }
      40% {
        transform: scale(1);
      }
      60% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}

header img:hover {
    animation-name: latido;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.navA {
    display: flex;
    flex-direction: column;
}

footer {
    background-color:rgb(213, 168, 213);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 3rem;
    font-size: 1rem;
    & img {height: 7rem;}
    & li a:hover, div a:hover {
    color: rgb(248, 247, 248);
}

.divFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
}

.ig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    & img {width: 7rem;
           height: 5.5rem;}
}

.mail {
    @extend .ig;
    & img {width: 8rem;
           height: 5rem;}
}


.sectionIndex {
    display: flex;
    justify-content: space-between;
    margin: 2rem 8rem 0rem 8rem;
    & div {
        display: flex;
        flex-direction: column;
    }
    & a {
        
    }
    & img:hover {
        transform: scale(1.1);
        -webkit-transition: transform 0.2s ease-in;
    }
    & h1 {
        font-size: 1.8rem;
        margin-top: 2rem;
    }
    & img {
        height: 25rem;
    }
}

.sectionTortas {
    & h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
    & img {
        height: 25rem;
    }
}

.sectionDulces {
    & img {
        height: 25rem;
    }
    & h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
    & >div {
        display: flex;
        justify-content: center;
    }
}

.dulces {
    padding: 2rem 3rem 2rem 0rem;
    & h2 {
        font-size: 1.5rem;
    }
    & img {
        @media (max-width: 960px) {
            height: 20rem;
        }
        @media (max-width: 840px) {
            height: 15rem;
        }
        @media (max-width: 660px) {
            height: 10rem;
        }
    }
}

.sectionDesayunos {
    & h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
    & img {
        height: 20rem;
        margin-top: 2rem;
    }
}

/*.desayunos {
    display: flex;
    flex-direction: column;
    & >div {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
}*/

.desayunos {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);

}

.sectionContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
}

.seccion-index__form {
    font-size: 1.5rem;
    & div {padding: 1rem;}
    & .seccion-index__form--nombre>label {padding-right: 3.3rem;}
    & .seccion-index__form--nombre>input {width: 22rem; height: 2rem; font-size: 1rem;}
    & .seccion-index__form--apellido>label {padding-right: 3.4rem;}
    & .seccion-index__form--apellido>input {width: 22rem; height: 2rem; font-size: 1rem;}
    & .seccion-index__form--email>label {padding-right: 4.5rem;}
    & .seccion-index__form--email>input {width: 22rem; height: 2rem; font-size: 1rem;}
    & .seccion-index__form--telefono>label {padding-right: 2.9rem;}
    & .seccion-index__form--telefono>input {width: 22rem; height: 2rem; font-size: 1rem;}
    & .seccion-index__form--newsletter>label {padding-right: 0.2rem;}
    & .seccion-index__form--consulta>label {padding-right: 2.7rem;}
    & .seccion-index__form--consulta>textarea {resize: none;
                                            font-size: medium;
                                            border-color: white;}
    & .seccion-index__form--borrar-enviar {display: flex;
                                        justify-content: space-evenly;}
}


.ig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    & img {width: 7rem;
           height: 5.5rem;}